@charset "UTF-8";
/* Таблицы стилей Sass */
/* Адрес цветовой схемы: https://colorscheme.ru/#0xc2nJiPTstCY */
/* HEX коды */
.body {
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@font-face {
  font-family: "raleway";
  src: url("../fonts/raleway/raleway-extrabold-webfont.woff2") format("woff2"), url("../fonts/raleway/raleway-extrabold-webfont.woff") format("woff"), url("../fonts/raleway/raleway-extrabold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/montserrat-ultralight-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-ultralight-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-ultralight.otf");
  font-weight: 300;
  font-style: normal;
}
.header {
  background-color: #ff9966;
  min-height: 50px;
  padding: 8px 25px;
}
.header__title {
  color: #ffcc99;
  font-family: raleway;
  font-weight: 700;
  font-size: 40px;
  margin: 0 auto;
}

#btn-basket {
  background-color: #ffcc99;
  border-color: #ffcc99;
  color: #ff9966;
  border-radius: 5px;
  float: right;
  margin: 13px;
  transition: 0.1ms;
  outline: none;
}

@media (hover: hover) {
  .btn-basket:hover {
    background-color: #ff9966;
    color: #ffcc99;
  }
  .btn-basket:active {
    background-color: #ffcc99;
    color: #ff9966;
  }
}
.catalogue {
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
}

.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #330099;
  border-radius: 5px;
}
.product-card__title {
  font-size: 20px;
  font-family: montserrat;
  font-weight: 400;
}
.product-card__img {
  margin: 20px 10px;
  border: 8px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 0 8px 8px #ccc;
}
.product-card__tally {
  margin: 0;
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
}
.product-card__buy-btn, .product-card__spin-btn {
  padding: 0;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: inherit;
  background-color: transparent;
  margin: 10px;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 400;
  transition: 0.1ms;
  outline: none;
}
.product-card__spin-btn {
  border: none;
}
.product-card__input {
  width: 3em;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px 0px 0px 0px;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 400;
  text-align: center;
}
.product-card__input::-webkit-outer-spin-button, .product-card__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-card__input[type=number] {
  -moz-appearance: textfield;
  margin: 0;
}

@media (hover: hover) {
  .product-card__buy-btn:hover, .product-card__spin-btn:hover {
    color: #3300cc;
    border-color: #3300cc;
  }
  .product-card__buy-btn:active, .product-card__spin-btn:active {
    color: #9999ff;
    border-color: #9999ff;
  }
}
.basket {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #cc9933;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  width: 940px;
  max-width: 100%;
  height: 440px;
  max-height: 100%;
  z-index: 1010;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
}
.basket__cards {
  display: flex;
  justify-content: space-around;
  clear: both;
}
.basket__stat {
  text-align: center;
  border-bottom: 1px solid #cc9933;
  padding-bottom: 8px;
}

.basket.closed {
  display: none;
}

.close-button {
  border: none;
  background: none;
  color: #FF4500;
  float: right;
  margin: 10px 10px 0 0;
}

/*# sourceMappingURL=index.css.map */